<PAFI>
  <!-- omit trailing forward slash -->
  <DumpFolder>./dumps</DumpFolder>

  <LowTemperature> 200. </LowTemperature>
  <HighTemperature> 200. </HighTemperature>
  <TemperatureSteps> 1 </TemperatureSteps>


  <SampleSteps> 200 </SampleSteps>
  <!-- keep same as SampleSteps. experimental feature -->
  <SampleWindow> 200 </SampleWindow>

  <ThermSteps> 400 </ThermSteps>
  <!-- keep same as ThermSteps. experimental feature -->
  <ThermWindow> 400 </ThermWindow>

  <StartCoordinate>0.</StartCoordinate>
  <StopCoordinate> 1. </StopCoordinate>

  <nPlanes> 6 </nPlanes>

  <!-- We require nprocs % CoresPerWorker==0-->
  <CoresPerWorker> 1 </CoresPerWorker>

  <!--
    RELATIVE thermal expansion coefficients -
    a(T) = a0 * (1 + Linear*T + Quadratic*T^2)
  -->
  <LinearThermalExpansion> 0.0</LinearThermalExpansion>
  <QuadraticThermalExpansion>0.0</QuadraticThermalExpansion>

  <!-- fix hp parameters -->
  <OverDamped> 1 </OverDamped>
  <Friction> 0.1 </Friction>

  <Scripts>
    <Input>
      units metal
      atom_style pafi
      atom_modify map array sort 0 0.0
      neigh_modify every 2 delay 10 check yes page 1000000 one 100000
      read_data  md/image_1.dat
      pair_style    eam/fs
      pair_coeff * * md/Fe.eam.fs Fe
      mass * 55.85
      run 0
    </Input>

    <!-- fixes for applied stress / boundary planes etc -->
    <PreRun>
    </PreRun>

    <!-- Turn them off each time -->
    <PostRun>
    </PostRun>

  </Scripts>
  <KnotList>
    md/image_1.dat
    md/image_2.dat
    md/image_3.dat
    md/image_4.dat
    md/image_5.dat
    md/image_6.dat
    md/image_7.dat
    md/image_8.dat
    md/image_9.dat
  </KnotList>

</PAFI>
