<PAFI>
  <!-- omit trailing forward slash -->
  <DumpFolder>./dumps</DumpFolder>

  <!-- Number of samples per plane per worker -->
  <nRepeats> 2 </nRepeats>

  <!-- LowTemperature to HighTemperature in TemperatureSteps steps -->
  <LowTemperature> 100. </LowTemperature>
  <HighTemperature> 1000. </HighTemperature>
  <TemperatureSteps> 10 </TemperatureSteps>

  <!-- Data gathering steps -->
  <SampleSteps> 2000 </SampleSteps>

  <!-- We require ThermSteps > ThermWindow AND ThermSteps%ThermWindow==0 -->
  <ThermSteps> 1000 </ThermSteps>
  <ThermWindow> 500 </ThermWindow>

  <nPlanes> 11 </nPlanes>

  <!-- We require nprocs % CoresPerWorker==0 -->
  <CoresPerWorker> 1 </CoresPerWorker>

  <!--
    RELATIVE thermal expansion coefficients -
    a(T) = a0 * (1 + Linear*T + Quadratic*T^2)
  -->
  <LinearThermalExpansion>0.0</LinearThermalExpansion>
  <QuadraticThermalExpansion>0.0</QuadraticThermalExpansion>

  <!-- fix hp parameters (LAMMPS units) -->
  <OverDamped> 1 </OverDamped>
  <Friction> 0.05 </Friction>

  <!-- for NEB planes -->
  <StartCoordinate> 0.0 </StartCoordinate>
  <StopCoordinate> 1.0 </StopCoordinate>

  <!-- 0/1 Output LAMMPS logs -->
  <LogLammps> 0 </LogLammps>

  <Scripts>
    <Script name="Input">
      units metal
      atom_style pafi
      atom_modify map array sort 0 0.0
      neigh_modify every 2 delay 10 check yes page 1000000 one 100000
      read_data  md/image_1.dat
      pair_style    eam/fs
      pair_coeff * * md/Fe.eam.fs Fe
      mass * 55.85
      run 0
      thermo 10
      run 0
    </Script>

    <!-- fixes for applied stress / boundary planes etc -->
    <Script name="PreRun">
    </Script>

    <!-- Turn them off each time -->
    <Script name="PostRun">
    </Script>
  </Scripts>

  <KnotList>
    md/image_1.dat
    md/image_2.dat
    md/image_3.dat
    md/image_4.dat
    md/image_5.dat
    md/image_6.dat
    md/image_7.dat
    md/image_8.dat
    md/image_9.dat
  </KnotList>

</PAFI>
