# Mac OSX indexing
.DS_Store
*/.DS_Store

# build data
build/*

# test data
example/*
!example/Fe_SIA_path.tar.gz
!example/path_test/config.xml
!example/path_test/run.sh
!example/sample_plot.py
!example/alt_sample_plot.py
