# Mac OSX indexing
.DS_Store
*/.DS_Store

# build data
build/*
ext-*

# test data
example/pathway_test/*
!example/pathway_test/run.sh
!example/pathway_test/config.xml

example/sample_run/*
!example/sample_run/run.sh
!example/sample_run/config.xml
